
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section
{
    padding: 50px 0px;
}

.container
{
    width: 100%;
   

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: rgb(0, 0, 0);

    color: white;
}

.timeline
{
    width: 80%;
    margin: auto;
    position: relative;

    max-width: 800px;
    padding: 40px 0px;
    
}

.timeline ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.timeline ul li
{
    background-color: #1e1f22;
    padding: 20px;
    color: white;
    border-radius: 20px;
    margin-bottom: 5px;
}
.timeline ul li p
{
    color: rgba(255, 255, 255, 0.451);
    margin-top: 20px;
}


/* creating timeline */

.timeline ul li
{
    width: 50%;
    margin-bottom: 50px;
    position: relative;
}

.timeline ul li:nth-child(odd)
{
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
}

.timeline ul li:nth-child(even)
{
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
}

.timeline::before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: gray;
    left: 50%;
    transform: translateX(50%);
}

.timeline ul li::after
{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    top: 0px;
    transition: 0.2s;
}

.timeline ul li:nth-child(odd)::after
{
    
    transform: translate(50%,-50%);
    right: -30px;
    
}

.timeline ul li:nth-child(even)::after
{
    transform: translate(-50%,-50%);
    left: -30px;
}

.timeline ul li:hover::after
{
    
    width: 23px;
    height: 23px;
    border: 2px solid red;
}

.date
{
    color: rgba(255, 255, 255, 0.433);
    position:absolute;
    top:-20px;
    font-size: 15px;
    font-weight: 100;
}